# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Java annotation processor (APT)
.factorypath

.idea
out
2021_COO_Zeldiablo_grolet4u_courrie18u_hornberg3u_chassar16u.iml
jeuZeldiablo/version_1/.classpath
jeuZeldiablo/version_1/.project
documents/.classpath
documents/.project
jeuZeldiablo/version_2/.classpath
jeuZeldiablo/version_2/.project
jeuZeldiablo/.classpath
jeuZeldiablo/.project
zeldiablo/.project
zeldiablo/.classpath
zeldiablo/src/module-info.java
jeuZeldiablo2/.classpath
jeuZeldiablo2/.project
